<%= form_with(url: messages_path, id: "new_message_form") do |form| %>
  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_field :content, placeholder: "What do you want to say?", class: "textarea"%>
    <%= form.submit "Post message", class: "button is-primary" %>
  </div>
<% end %>
