<%= render Navbar::NavbarComponent.new %>

<div id="term_container" class="mt-5">
  <%= render Entry::EntryComponent.new(entry: Entry.first) %>
</div>


<div class="mt-5">
  <div class="columns is-multiline">
    <%= render History::HistoryComponent.with_collection(Entry.last(8)) %>
  </div>
</div>

<% if notice %>
  <div class="notification is-danger is-light">
    <button class="delete"></button>
    <p class="subtitle">Error</p>
    <p> <%= notice %> </p>
  </div>
<% end %>
