<%= form_with(url: entries_path, id: "new_entrie_form") do |form| %>
  <div class="field has-addons">
    <div class="control is-expanded">
      <%= form.text_field :term, placeholder: "What do you want to search?", class: "input", data: { "entry-target": "term" } %>
    </div>

    <div class="control ">
      <%= form.submit class: "button is-primary" do %>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
    </div>
  </div>
<% end %>
