<div class="column is-one-quarter is-full-touch">
  <div class="card is-shadowless is-bordered">
    <%= link_to entry_path(@history), data: { turbo_stream: true } do %>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <%= media_icon %>
          </div>
        </div>

        <div class="content">
          <h4> <%= @history.term.capitalize %> </h4>

          <h6 class="is-hidden-overflow is-size-6 has-text-weight-light">
            <%= term_content.html_safe %>
          </h6>
        </div>
      </div>
    <% end %>
  </div>
</div>
