<section class="column hero is-warning is-full" data-step-target="step2">
  <div class="hero-body">
    <p class="title"><%= @step %></p>
    <button class="button is-primary" data-action="click->step#nextStep" data-next-step="step2"> Next Step </button>
  </div>
</section>